body {
	font-family: 'Raleway', sans-serif;
}
h2,h3,span {
	font-weight: 900;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 3rem;
}
.header {
	height: 40rem;
	background-image: url(../img/superior.jpg);
	background-size: cover;
	background-position: bottom center;
}
.bg-light {
	background-color: white!important;
}
.nombre-sitio {
	font-size: 2.4rem;
	font-weight: 300;
}
/* .nombre-sitio span {
	font-weight: 900;
} */
.nav-link {
	color: white!important;
}
@media (min-width:992px) {
	.header .nav-link:first-child::before {
		display: none;
	}
	.header .nav-link::before {
		content: '|';
		margin-right: 1.5rem;
	}
}
.telefono::before {
	background-image: url(../img/icono_telefono.png);
	content: '';
	display: inline-block;
	height: 2rem;
	width: 2rem;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 1rem;
}

/* About */
.sobre-nosotros-bg {
	min-height: 44rem;
	background-image: url(../img/nosotros.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
@media (min-width: 768px) {
	.sobre-nosotros-bg {
		min-height: 36rem;
	}
}

/* Models */
.modelo {
	background-repeat: no-repeat;
	min-height: 40rem;
}
@media (min-width: 768px) {
	.modelo {
		min-height: 30rem;
	}
}
.basico {
	background-image: url(../img/modelo_basico.jpg);
	background-position: top right;
}
.premier {
	background-image: url(../img/modelo_premier.jpg);
	background-position: top left;
}
.elite {
	background-image: url(../img/modelo_elite.jpg);
	background-position: top right;
}

/* Footer */
.footer {
	height: 30rem;
	background-image: url(../img/footer_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-dark {
	background-color: #111111!important;
}
